{{#unless controllers.login.onDesktop}}
  {{partial "header-mobile"}}
  <div class="screenHeader">Loading...</div>
{{else}}
  <div class="upperArea">
    <div class="container">
      <div class="row ridematchHeader">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
          <h1>Loading... One moment please</h1>
        </div>
      </div>
    </div>
  </div>
{{/unless}}
