<div class="cell-container">
  <div class="inner-triangle status-triangle{{unbound view.statusCode}}" style="margin: 3px -1px 0 0;"></div>
  <div class="outer-triangle outer-status-triangle{{unbound view.statusCode}}" style="margin: 3px -1px 0 0;"></div>
</div>
<div style="height: 100%; width: 100%; margin-top: -12px;">
  <div class="firstOfTheMonth-name">{{view.month}}</div>
  <div class="firstOfTheMonth-number">{{view.date}}</div>
</div>
