<h1>Frequently Asked Questions</h1>

<p><strong>What is Hovee and how does it benefit me?</strong><br>
  Hovee is a carpool matching service that helps you share the drive to and from work with people you like. It will make your commute more productive, cost-efficient, social and fun.</p>

<p><strong>Who are the other people on Hovee?</strong><br>
  All Hovee Members are people like you: they work at established companies (mostly in tech) or are university students in the Bay Area. Hovee is a member-only community: we only accept people who prove affiliation - via their email - at one of these organizations.</p>

<p><strong>How do I get started?</strong><br>
  Download the Hovee App. Get it <a href="https://itunes.apple.com/us/app/hovee/id845500691?mt=8">on iTunes here </a> or search for &ldquo;Hovee&rdquo; in the AppStore.
</p>
<p>To use Hovee on your laptop, desktop or Android phone, go to <a href="https://pilot.hovee.com">pilot.hovee.com</a> and click on Sign Up.</p>
<p>Make sure to use your work email to register.  Once you have a completed Commute Profile, you can start setting up rides.  </p>

<p><strong>How much does Hovee cost?</strong><br>
  Hovee is currently completely FREE to join and use.  In the coming months, we will be in introducing Rider Contribution payments, where Passengers pay Drivers a share of the cost of the commute. (see below)</p>

<p><strong>What&rsquo;s the LinkedIn connection?</strong><br>
  We want all Hovee Members to share a common trusted public identity. LinkedIn is perfect for that - it&rsquo;s a public profile 
  everyone can see, and verify.  
  This is why we ask every Member to connect their Hovee profile to their LinkedIn. 
  Hovee uses your LinkedIn profile photo and title, and we reference your LinkedIn connections 
  to help you find better ride partners. <br>
  And we care about your privacy: we will never contact your contacts, or post on LinkedIn without your permission.  
  </p>

<p><strong>How do I find rides?</strong><br>
  Its easy. Look at the list of potential ride matches and tap one to see their Profile. (If you don&rsquo;t see this list, click &ldquo;Find Rides&rdquo; or tap &ldquo;Riders&rdquo;.) In each Profile you can see the other person&rsquo;s home and work location, their preferred schedule, their music and listening preferences. You can also open a map to preview the ride or send them a private text message &mdash; they will see your name but not your phone number.</p>
<p>When you find someone you want to ride with, tap or click &ldquo;Pick a Day&rdquo;.
</p>

<p><strong>OK, I found someone I want to ride with. How do I propose a Ride?</strong><br>
  Tap &ldquo;Pick a Day&rdquo; on their Profile and you will see your Commute Calendar. Select a day that you are both available. </p>
<p>
  The Trip Details screen will open. Here you can:
  <ul>
  <li>Change who is driving. If both of you have cars, either person can drive.</li>
  <li>Change the times of pickup and drop off by tapping any waypoint. When you change one time &mdash; say, the time you get to work, all the other times get recalculated automatically, based on how long each part of the drive is. </li>
  <li>Switch between the morning and the afternoon drive.</li>
  <li>Tap &ldquo;Next&rdquo; when you are done adjusting the trip details.</li>
  <li>Add a personal message and hit Send.</li>
  </ul>
  This will send them a Ride Proposal that they can Accept, Decline or reply with Changes. Once you have an Accepted proposal, your trip is Scheduled!
</p>

<p><strong>How does your Matching Algorithm work?</strong><br>
  We use up to 18 different inputs to match you with other Members for the ideal carpool. We compare your route with the routes of all the other Members and select those that have the lowest deflection &mdash; the distance the Driver has to go out of their way to pick up the Passenger.  (That&rsquo;s the Miles number in the Ride Match list.) We also match based on commute schedule &mdash; days and times you both want to commute. And we match based on similar interests, if you work in the same company or industry, or have the same interests and listening preferences. </p>


<p><strong>Who sees my Commute Profile information?</strong><br>
  Hovee is a closed member-only community, so your profile is not visible on the Internet. The only people who see your profile are other Hovee Members. This allows a high degree of trust once you are logged in: you see every Member&rsquo;s real name, photo, the company they work for, etc.</p>

<p><strong>When I am the Driver in the carpool, should the Passengers pay me?</strong><br>
  Currently we ask all Members of the carpool to make their own arrangements to share the cost of the commute. To help you estimate a fair contribution, use .30 cents per mile, plus half of the tolls and parking fees. But we know that asking someone for money can be awkward for some people. In the coming months, we will be introducing Hovee Online Payments that will take care of settling the Rider Contribution automatically and seamlessly at the end of every shared ride. </p>

<p><strong>How do I change my Commute Route or make changes to my Profile?</strong><br>
  Right now you need to do this in the desktop version in your browser. Profile updates in the iOS App or Mobile Web are coming soon.</p>
<p>Login to <a href="https://pilot.hovee.com">pilot.hovee.com</a> then click the &ldquo;gear&rdquo; menu on the upper right and choose &ldquo;Update Profile&rdquo;. You can change your personal information, where you start your commute (&ldquo;Where From&rdquo;) and your commute  destination (&ldquo;Where To&rdquo;) and various other preferences related to your commute. If you changed your picture on LinkedIn, you can also pull the new one over to update your Hovee Profile.
</p>

<p><strong>What if I don&rsquo;t have a car?</strong><br>
  You can be a Driver on Hovee whether you have a car or not. On the days when its your turn to drive, we suggest you can rent a car from services like Zipcar, CityCarShare, Getaraound or Relay Rides or national rental chains like Hertz or Avis. The costs averaged over time still make this a cheap option. There are advantages to being a Driver on Hovee:  you have final word on major decisions about the trip &mdash; the route, music, beverages. You also earn Driver reimbursements like gas cards and get the costs of the commute offset through Rider Contributions.<br>
</p>

<p><strong>I want to carpool, but I just don&rsquo;t want to have to talk to somebody for 30 minutes.</strong><br>
  There are folks on Hovee just like you, and we will help you find them. Set your listening preferences to &ldquo;Silent Car&rdquo; and we will match you with others who share your love of quiet.</p>

<p><strong>I&rsquo;d like to carpool in the morning but take Caltrain back in the afternoon. Can I do that?</strong><br>
  Currently Hovee supports round-trip carpools. So we assume you are driving to work and back with the same person on the days you schedule a ride. But you can agree with your carpool partner that you don&rsquo;t need the return ride. </p>

<p><strong>Two of my co-workers want to carpool with me. But I can only schedule a ride with one person at a time.</strong><br>
  Hovee currently supports only 1 Driver + 1 Passenger, but we are working hard on adding the capability to schedule multiple passengers into your ride.  For now, please schedule with one person per day, and let the third person know you&rsquo;ll be picking them up, and what time. </p>

<p><strong>When you show estimated trip times, do you compensate for traffic delays?</strong><br>
  Yes, we use time estimates from Google Maps that include traffic delay averages for that route.</p>

<p><strong>What happens if I or another Member need to cancel?</strong><br>
  You can cancel without repercussions if it is more than 24 hours before a scheduled trip. We will alert the other riders and help them find alternate rides. But canceling with less that 24 hours before the start of a trip will negatively impact your Hovee Member reputation. So please avoid it if at all possible.</p>

<p><strong>How do you pronounce &lsquo;Hovee&rsquo;?</strong><br>
  However it sounds best to you. &ldquo;HUVEE&rdquo; and &ldquo;HOVE-EE&rdquo; seem to be most popular.</p>

<br>
FAQ v.7
