<p>Effective date: May 7, 2014 </p>

<p>We at Hovee know you care about how your personal information is used and shared, and we take your privacy seriously.  Please read the following to learn more about our Privacy Policy.  By using or accessing the Services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.</p> 
<p>Remember that your use of Hovee’s Services is at all times subject to the Terms of Service, (https://pilot.hovee.com/#/terms ), which incorporates this Privacy Policy.  Any terms we use in this Policy without defining them have the definitions given to them in the Terms of Service.</p>  

<h2>What does this Privacy Policy cover?</h2>
<p>This Privacy Policy covers our treatment of personally identifiable information ("Personal Information") that we gather when you are accessing or using our Services, but not to the practices of companies we don’t own or control, or people that we don’t manage.  We gather various types of Personal Information from our Members, as explained in more detail below, and we use this Personal Information internally in connection with our Services, including to personalize, provide, and improve our services, to allow you to set up a Member account and profile, to contact you and allow other Members to contact you, to fulfill your requests for certain products and services, and to analyze how you use the Services. In certain cases, we may also share some Personal Information with third parties, but only as described below.</p>
<p>As noted in the Terms of Service (https://pilot.hovee.com/#/terms) we do not knowingly collect or solicit personal information from anyone under the age of 13. If you are under 13, please do not attempt to register for the Services or send any personal information about yourself to us. If we learn that we have collected personal information from a child under age 13, we will delete that information as quickly as possible. If you believe that a child under 13 may have provided us personal information, please contact us at support@hovee.com</p>
<h2>Will Hovee ever change this Privacy Policy?</h2>
<p>We’re constantly trying to improve our Services, so we may need to change this Privacy Policy from time to time as well, but we will alert you to changes by placing a notice on our site, www.hovee.com, by sending you an email, and/or by some other means. Please note that if you’ve opted not to receive legal notice emails from us (or you haven’t provided us with your email address), those legal notices will still govern your use of the Services, and you are still responsible for reading and understanding them.  If you use the Services after any changes to the Privacy Policy have been posted, that means you agree to all of the changes.  Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used.</p>
<h2>What Information does Hovee Collect?</h2>
<h3>Information You Provide to Us:</h3>
<p>We receive and store any information you knowingly provide to us.  For example, through the registration process and in the process of completing your Member Profile, we may collect Personal Information such as your name, email, phone number, and your Commute Origin and Destination.  We may also connect your Hovee Profile with your LinkedIn account, and some information from your LinkedIn account, such as your Job Title and a link to your Photo  are copied and stored in your Hovee Member Profile.  We will only use that LinkedIn information as covered by this Privacy Policy; and in accordance with LinkedIn’s guidelines. Certain information may be required to register with us or to take advantage of some of our features.</p>  
<p>We may communicate with you if you’ve provided us the means to do so. For example, if you’ve given us your email address, we may send you updates about changes to your carpooling plans updates on carpool matches, or updates about Hovee Services.  Also, we may receive a confirmation when you open an email from us. This confirmation helps us make our communications with you more relevant and improve our services.</p> 

<h3>Information Collected Automatically</h3>
<p>Whenever you interact with our Services, we automatically receive and record information on our server logs from your browser or device, which may include your IP address, device identification, “cookie” information, the type of browser and/or device you’re using to access our Services, and the page or feature you requested. “Cookies” are identifiers we transfer to your browser or device that allow us to recognize your browser or device and tell us how and when pages and features in our Services are visited and by how many people.  You may be able to change the preferences on your browser or device to prevent or limit your device’s acceptance of cookies, but this may prevent you from taking advantage of some of our features. Again, this Privacy Policy does not cover the use of cookies by any third parties, and we aren’t responsible for their privacy policies and practices.</p>
<p>We may use this data to customize content for you that we think you might like, based on your usage patterns.  We may also use it to improve the Services – for example, this data can tell us how often Members use a particular feature of the Services, and we can use that knowledge to make the Services interesting to as many Members as possible.   </p>
<p>If you allow our Services to access your location, we may also collect and process information about your actual location, like GPS signals sent by a mobile device.</p>


<h2>Will Hovee Share Any of the Personal Information it Receives?</h2>
<p>We neither rent nor sell your Personal Information in personally identifiable form to anyone. However, we may share your Personal Information with third parties as described in this section:</p>
<p>Information that’s no longer personally identifiable.  We may anonymize your Personal Information so that you are not individually identified, and provide that information to our partners. We may also provide aggregate usage information to our partners, who may use such information to understand how often and in what ways people use our Services, so that they, too, can provide you with an optimal online experience. However, we never disclose aggregate usage information to a partner in a manner that would identify you personally, as an individual. </p>
<p>Employer Partners – We work with Employers to help them manage and improve commuting for their Employees. As part of that partnership, Employer Administrators, such as Transportation Program managers of HR Benefits Managers, may have access to the Employer’s Hovee Commuting Dashboard and Reporting, where they will have access to commute activity for the purpose of tracking program success and also awarding incentives and rewards to Employees in accordance with the Employer’s Commuting/Transportation program policies.</p> 
<p>The Employer Administrators may have access to: </p>
<p><strong>Anonymized Aggregated Information</strong>
<ol>
  <li>Number of Employees in the Company who are registered and using Hovee</li>
  <li>Number of Employees in a Business Unit or a Location who are registered and using the Service</li>
</ol>
</p>
 
<p><strong>Personally Identifiable Information</strong>
<ul><li>Names of Employees who are Registered Members on Hovee</li>
<li>Commute Activity Metrics for each Employee such as:
 <ul><li>Number of rides Employee has scheduled or completed on Hovee</li>
  <li>Number of miles driven or carbon saved by that employee in the course of commuting on Hovee</li></ul></li> </ul>
</p>

<p>Employer Partners will not see details about individual trips such as the Origin, Destination and times of those trips. </p>

<p>Service Provider Partners: We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you; for example, we may use a payment processing company to receive and process your credit card transactions for us. Unless we tell you differently, our Service Provider Partners do not have any right to use the Personal Information we share with them beyond what is necessary to assist us. </p>

<p>Member Profiles and Submissions: Certain Member Profile information, including your name, photo, cell phone number, and location may be displayed to other Members to facilitate Member interaction within the Services or such as when a Driver with whom you’ve scheduled a trip can see your location so they know where to meet you.  Your account privacy settings may allow you to limit if other Members can see the Personal Information in your Member profile and/or what information in your Member profile is visible to others. Your Member Name may also be displayed to other Members if and when you send messages or comments or upload images or videos through the Services and other Members can contact you through messages and comments. Additionally, if you sign into Hovee through a third party social networking site or service, such as LinkedIn or Facebook, your list of “friends” or “connections” from that site or service may be automatically imported to the Services, and such “friends,” if they are also registered Members of the Services, may be able to access certain non-public information you have entered in your Services Member profile.  Again, we do not control the policies and practices of any other third party site or service</p>
<p>Business Transfers: We may choose to buy or sell assets.  In these types of transactions, customer information is typically one of the business assets that would be transferred.  Also, if we (or our assets) are acquired, or if we go out of business, enter bankruptcy, or go through some other change of control, Personal Information could be one of the assets transferred to or acquired by a third party. </p>
<p>Protection of Hovee and Others: We reserve the right to access, read, preserve, and disclose any information that we reasonably believe is necessary to comply with law or court order; enforce or apply our Terms of Service and other agreements; or protect the rights, property, or safety of Hovee, our employees, our Members, or others.</p>  

<h2>Is Personal Information about me secure?</h2>

<p>Your account is protected by a password for your privacy and security.  If you access your account via a third party site or service, you may have additional or different sign-on protections via that third party site or service. You must prevent unauthorized access to your account and Personal Information by selecting and protecting your password appropriately and limiting access to your computer or device and browser by signing off after you have finished accessing your account.</p>

<p>We endeavor to protect the privacy of your account and other Personal Information we hold in our records, but unfortunately, we cannot guarantee complete security.  Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of Member information at any time. </p>

<h2>What Personal Information can I access?</h2>
<p>Through your Member Profile you may access, and, in some cases, edit or delete the following information you’ve provided to us:</p>

<ul><li>name and password</li>
<li>email address</li>
<li>commute pickup and drop-off locations</li>
<li>cell phone number</li></ul>

<p>The information you can view, update, and delete may change as the Services change.  If you have any questions about viewing or updating information we have on file about you, please contact us at privacy@hovee.com </p>

<p>Under California Civil Code Sections 1798.83-1798.84, California residents are entitled to ask us for a notice identifying the categories of Personal Information which we share with our affiliates and/or third parties for marketing purposes, and providing contact information for such affiliates and/or third parties.  If you are a California resident and would like a copy of this notice, please submit a written request to: privacy@hovee.com</p>
<h2>What choices do I have?</h2>
<p>You can always opt not to disclose information to us, but keep in mind some information may be needed to register with us or to take advantage of some of our features.</p>
<p>You may be able to add, update, or delete information as explained above.  When you update information, however, we may maintain a copy of the unrevised information in our records. Some information may remain in our records after your deletion of such information from your account. We may use any aggregated data derived from or incorporating your Personal Information after you update or delete it, but not in a manner that would identify you personally.</p>  
<h2>What if I have questions about this policy?</h2>
<p>If you have any questions or concerns regarding our privacy policies, please send us a detailed message to privacy@hovee.com and we will try to resolve your concerns.</p>