<h2>Hovee Commuter Terms of Service</h2>

<p>Please read these Terms of Service (collectively with the Hovee Privacy Policy, the &ldquo;Terms of Service&rdquo; or &ldquo;Agreement&rdquo;) fully and carefully before using the Hovee Commuter Service, the Hovee software used to provide such service and the Sites and Applications, as defined below (collectively, the &ldquo;Services&rdquo;). This Agreement is a legally binding agreement made between you (&ldquo;you&rdquo; or &ldquo;your&rdquo;) and Hovee Inc. (&ldquo;Hovee&rdquo;, &ldquo;we&rdquo;, &ldquo;us&rdquo; or &ldquo;our&rdquo;) and sets forth the terms and conditions for your use of the Services.</p> 

<p>You may use the Services through the domain hovee.com or other websites through which the Services are accessed (collectively, the &ldquo;Sites&rdquo;) or through mobile applications (the &ldquo;Applications&rdquo;). This Agreement applies to your use of the Services regardless of the method through which they are accessed.</p>

<p>We may amend or add to these Terms of Service at any time and post the amended or additional terms on the Sites. Please check for updates regularly. Your continued use of the Services indicates your agreement to be bound by the Terms of Service in effect at the time of such use.&nbsp;Notwithstanding the foregoing, Hovee shall provide advanced notice of any additional material obligations and provide Members with an opportunity to opt-out. </p>
<p>For certain Promotions, additional terms may be applicable, which will be presented to you as part of the sign-up process for such Promotions.&nbsp;</p>

<p>This Agreement is effective upon acceptance during registration for new Members and is effective on the day any amendment to this Agreement is posted on the Sites for all existing Members.</p>
<p>BY CHECKING THE ACKNOWLEDGEMENT CHECKBOX, YOU ARE INDICATING THAT YOU HAVE READ THIS AGREEMENT AND AGREE TO BE BOUND BY ITS TERMS AND BY THE TERMS OF THE HOVEE PRIVACY POLICY. IF YOU DO NOT AGREE TO ALL OF THE TERMS IN THIS AGREEMENT OR THE HOVEE PRIVACY POLICY, WE WILL NOT BE ABLE TO ACCEPT YOUR REGISTRATION AND YOU WILL NOT BE ABLE TO USE THE SERVICES.</p>

<h2>Definitions</h2>
<p>&ldquo;Hovee Entities&rdquo; means Hovee and its employees, directors, offers, agents, contractors, subsidiaries and affiliates. &ldquo;Hovee Partners&rdquo; means Hovee service providers, suppliers, content providers, licensees, referring or client organizations (including employers, non-profits, governmental agencies, and city agencies) and partners. &ldquo;Member&rdquo; means any registered user of the Services.  &ldquo;Driver&rdquo; means a Member who arranges to provide rides to other Members through the Services. &ldquo;Promotion&rdquo; means a Hovee or a third party&rsquo;s program or promotional campaign. &ldquo;Passenger&rdquo; means a Member who obtains rides from Drivers. &ldquo;Trip&rdquo; means an arranged trip between a Driver and one or more Passengers for a common work or organization related purpose. </p>

<h2>Services Summary</h2>
<p>The Services help employers and employees to get more value from the daily commute through carpooling. We enable Members to network with other Members to save time and money while commuting to and from work or other group activities, while also enabling enterprises to better manage carpool programs for their participants or employees. The Services provide a communications platform and other services related to furthering such purposes.</p>

<h2>Requirements to Access the Services</h2>

<h3>Eligibility</h3>
<p>By becoming a Member of the Services, you certify that you are at least 18 years of age.</p>

<p>By becoming a Driver through the Services, you also certify that the following are all true:</p>

<ul><li>you are at least 18 years of age;</li>
<li>you have a current and valid driver&rsquo;s license;</li>
<li>you carry all insurance required by law in order to operate a motor vehicle in the state/county/country where your vehicle is registered;</li>
<li>you carry liability insurance that covers bodily injury to all occupants of your vehicle;</li>
<li>you have no record of convictions for serious driving offenses (e.g. license suspension); </li>
<li>you are medically fit to act as a Driver;</li>
<li>you have volunteered to be a driver and have not been designated by a group or company as a driver and receive no compensation from a group or company for driving; you are an independent party participating, with others, in a voluntary, not for profit, ridesharing arrangement;</li>
<li>you follow prescribed manufacturer preventative and maintenance standards to a reasonable extent for the vehicle(s) you use; and</li>
<li>you have not have ever committed any felony or serious criminal offense (including but not limited to a sexual offense and/or a violence-related offense) or any misdemeanor within the past three (3) years.</li></ul>

<p>Drivers are advised to check with their insurance provider to ensure that their coverage extends to carpooling and ridesharing as provided by Trips made in connection with the Services. </p>

<p>Some of the Services may require additional or separate certifications to be made by Passengers and Drivers and may require Hovee to conduct background, Motor Vehicle Registration (or similar) or credit checks. Access to such Services is conditional on</p> 
<ol type="i"><li>those certifications being completed and kept up to date, </li>
<li>Passengers and Drivers permitting Hovee  to perform all relevant checks, including on an ongoing basis, and </li>
<li>Passengers and Drivers informing  Hovee of any incidents, accidents or changes of circumstances that may or do affect the results or status of these certifications.</li></ol>

<p>If at any time you do not meet or continue to meet the eligibility requirements listed in this Agreement, you must change your Member Commute Profile to reflect your new eligibility. For example, if you no longer have a driver&rsquo;s license, you must reflect that in your Member Profile. .  Hovee reserves the right, in its sole discretion but not unreasonably, to refuse or deny access to the Services to any individual for any reason or no reason. Further, the Services are offered only for your use, and not for the use or benefit of any third party.</p>

<h2>Registration and Technical Requirements</h2>
<p>To sign up for the Services, you must register for an account on the Services (a &ldquo;Hovee Account&rdquo;). The Services are intended to be used by Members commuting to and from their places of employment, education or other group activity. Therefore, in order to become a Member of the Services, you must authenticate your place of employment or membership in your group organization by providing a valid corporate or organization email account. It is your responsibility to maintain validity of this email address and email account.  If you leave the company or organization or your e-mail account should become invalid for any reason, you will need to create a new Hovee Account.</p>

<p>You must provide accurate and complete information and keep your Hovee Account information updated. You shall not: 
<ol type="i"><li>select or use, as a Member name, a name of another person with the intent to impersonate that person; </li>
<li>use, as a Member name, a name subject to any rights of a person other than you without appropriate authorization; or </li>
<li>use, as a Member name, a name that is otherwise offensive, vulgar or obscene. </li></ol>

<p>You are solely responsible for the activity that occurs on your Hovee Account, and for keeping your Hovee Account password secure. You may never use another person&rsquo;s Hovee Account or registration information for the Services without permission. You must notify us immediately of any change in your eligibility to use the Services (including any changes to or revocation of any licenses from state authorities), breach of security or unauthorized use of your Hovee Account. You should never publish, distribute or post login information for your Hovee Account. You shall have the ability to delete your Hovee Account, either directly or through a request made to one of our employees or affiliates.</p>
<p>Members will need to download the Hovee Application to use the Services and will need to carry their mobile device with them during Trips in order for the Trips to be registered with the Services. Drivers are advised to adhere to regulations and legislation relating to the use of mobile devices while driving.</p>
<p>For using Applications to access the  Services, a mobile device with services from a service provider supported by the Services and a plan which allows you access to Hovee&rsquo;s Application and SMS capabilities is required. You are responsible for paying all fees that your service provider may charge you for using the Services through your mobile/cell phone. Should your mobile/cell number or service provider change, please record your updated mobile/cell phone information in your Hovee Account on the Services.</p>

<p>You can also register to join the Services by logging into your Hovee Account with certain third party social networking sites (&ldquo;SNS&rdquo;) (including, but not limited to, Facebook and LinkedIn); each such account, a &ldquo;Third Party Account.&rdquo; As part of the functionality of the Services, you may link your Hovee Account with Third Party Accounts, by either:</p>

<ol type="i">
<li>providing your Third Party Account login information to Hovee through the Services; or </li>
<li>allowing Hovee to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account. </li></ol>

<p>You represent that you are entitled to disclose your Third Party Account login information to Hovee and/or grant Hovee access to your Third Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating Hovee to pay any fees or making Hovee subject to any usage limitations imposed by such third party service providers. By granting Hovee access to any Third Party Accounts, you understand that Hovee will access, make available and store (if applicable) any Content that you have provided to and stored in your Third Party Account (&ldquo;SNS Content&rdquo;) so that it is available on and through the Site, Services and Application via your Hovee Account and Hovee Account profile page. Unless otherwise specified in these Terms of Service, all SNS Content, if any, will be considered to be Member Content for all purposes of these Terms of Service. Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, personally identifiable information that you post to your Third Party Accounts will be available on and through your Hovee Account on the Services. Please note that if a Third Party Account or associated service becomes unavailable or Hovee&rsquo;s access to such Third Party Account is terminated by the third party service provider, then SNS Content will no longer be available on and through the Services. You have the ability to disable the connection between your Hovee Account and your Third Party Accounts, at any time, by accessing the &ldquo;Settings&rdquo; section of the Site and Hovee Application. PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE THIRD PARTY SERVICE PROVIDERS ASSOCIATED WITH YOUR THIRD PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S) WITH SUCH THIRD PARTY SERVICE PROVIDERS.  Hovee makes no effort to review any SNS Content for any purpose, including but not limited to, for accuracy, legality or non-infringement and Hovee is not responsible for any SNS Content.</p>


<h2>Member Ratings Feedback</h2>
<p>Members may provide feedback and/or ratings of other Members they have shared a Trip with. Members leaving feedback should ensure that it is fair and accurate. You agree that we may post ratings left by other Members about you on your profile.  Hovee does not actively monitor feedback and ratings left by Members.  Hovee retains the right to adjust or delete Member feedback that it deems, in its sole discretion, to be inappropriate and disclaims all liability in respect of feedback left by Members.  </p>

<h2>Personal Responsibility</h2>
<p>Members can use the Services to connect with other Members for the purposes of carpooling to and from work or other group activities. We cannot and do not assess the suitability of Members except for verifying that they are affiliated with an established company or organization via a verified email account. Beyond that, we have no control over, and shall not be responsible for, the truth or accuracy of the data Members may provide through the Services, the ability of Members to drive legally and safely, the condition of their vehicles, their criminal background, or other information Members may provide. While Members must attest to the fact that they have valid insurance and a valid driver&rsquo;s license, we do not verify at this time whether this is accurate.  Background or other checks are not normally performed; even where background, motor vehicle records or other checks have been performed, we cannot guarantee that the results of those checks are accurate or up to date.
&#x2028;Hovee is not a Transportation Network Company, as defined by the California Public Utilities Commission.  You are solely responsible for selecting the individuals and/or entities with whom you travel. If you do not feel comfortable sharing a ride for any reason, you should use another means of transportation.</p>

<p>You acknowledge and agree that under no circumstances will Hovee Entities or Hovee Partners have any responsibility, liability or obligation with respect to any Trip that you may take as a result of using the Services or resulting from any interaction with any Member you may encounter through the Services.</p>

<h2>Member Disputes</h2>
<p>We will try to reasonably assist in resolving disputes between Members, at our discretion and upon request, but we have no obligation or responsibility to do so and we will not be a party to such disputes or negotiations of such disputes. If applicable, we encourage you to report all disputes with other Members to your company or organization HR, or transportation/commute team.</p>

<h2>Acceptable Use</h2>
<p>As a condition of use, you promise not to use the Services for any purpose that is prohibited by these Terms of Service. If you are using the Services through a program with your employer, you also agree to follow any additional terms given to you by your employer for the use of the Services. You are responsible for all of your activity in connection with the Services. We reserve the final right to judge acceptable use of the Services. We also reserve the final right to change, delete or de-activate any Member&rsquo;s Hovee Account or information as required to ensure acceptable use without any liability to any party whatsoever and without any notice. We may suspend or terminate your Hovee Account if we suspect that you have engaged in fraudulent activity in connection with the Services or any activity we believe is not compliant with our Terms of Service and Hovee Privacy Policy.</p>

<p>You agree that you will:</p>

<ul><li>as a Driver: arrive on time at the departure location and complete the Trip you agreed to provide.</li>
<li>as a Passenger: arrive at the pickup location on time.</li></ul>

<p>You agree you will not:</p>

<ul><li>violate any local, state, provincial, national, or other law or regulations;</li>
<li>"stalk" or harass any other Member or collect or store any personally identifiable information about any other Member other than for purposes of sharing rides as a Member of Hovee;</li>
<li>transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, photographs of others without their permission, personal contact information or credit, debit, calling card or account numbers;</li>
<li>register for more than one Hovee Account or register for an Hovee Account on behalf of an individual other than yourself;</li>
<li>damage, disable, overburden, interfere with or impair the Services (or any network connected to the Services);</li>
<li>resell or redistribute any part of the  Services;</li>
<li>use any unauthorized means to modify, reroute, or gain access to the Services;</li>
<li>harm or disrupt another Member&rsquo;s computer or illegally access software or bypass security on websites, or servers, including but not limited to spamming;</li>
<li>mislead other Members by providing inaccurate information;</li>
<li>use any automated process or service (such as a bot, a spider, or metasearching) to access or use the Services;</li>
<li>harvest or scrape any Content from the Services; or</li>
<li>otherwise take any action in violation of our guidelines and policies as set forth in this Agreement or made available through our Services.</li></ul>

<p>You also agree you will not upload, post, transmit, transfer, distribute or facilitate distribution of any Content (including text, images, sound, video, data, information or software) or otherwise use the Services in any way that:</p>

<ul><li>harasses, defames, intimidates or threatens another Member, person or organization;</li>
<li>interferes with another Member&rsquo;s rights to privacy;</li>
<li>distributes chain letters, surveys or contests;</li>
<li>posts any material that is defamatory, obscene or indecent;</li>
<li>infringes any patent, trademark, trade secret, copyright, right of publicity or other right of any other person or entity or violates any law or contractual duty ;</li>
<li>posts any materials that may damage the operation of a computer (such as a virus, worm or trojan horse);</li>
<li>advertises or sells any goods or services or constitutes unauthorized or unsolicited advertising, junk or bulk e-mail (&ldquo;spamming&rdquo;);</li>
<li>is unlawful, deceptive, fraudulent, invasive of another's privacy, tortious, obscene, vulgar, pornographic, offensive, profane, contains or depicts nudity, contains or depicts sexual activity, or is otherwise inappropriate as determined by us in our sole discretion;</li>
<li>impersonates any person or entity, including any of our employees or representatives; or</li>
<li>includes anyone&rsquo;s identification documents or sensitive financial information.</li></ul>

<p>You shall not (directly or indirectly):</p>
<ol type="i"><li>decipher, decompile, disassemble, reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Services (including without limitation any application), except to the limited extent applicable laws specifically prohibit such restriction, </li>
<li>modify, translate, or otherwise create derivative works of any part of the Services, or </li>
<li>copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder.</li> </ol>

<p>You shall abide by all applicable local, state, national and international laws and regulations.</p>

<p>We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to</p> 
<ol type="i"><li>satisfy any applicable law, regulation, legal process or governmental request, </li>
<li>enforce these Terms of Service, including investigation of potential violations hereof, </li>
<li>detect, prevent, or otherwise address fraud, security or technical issues, </li>
<li>respond to Member support requests, or </li>
<li>protect the rights, property or safety of us, our Members and the public.</li></ol>

<p>Hovee will have the right to investigate and prosecute violations of these Terms of Services, including but not limited to any of the above terms, to the fullest extent of the law. Hovee may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms of Service. </p>

<h2>Hovee Account and Passwords</h2>
<p>You must keep your Hovee Account password secure and confidential and not authorize any third party to access or use the Services on your behalf. You may not transfer your Hovee Account to any other person or entity. You may acquire information pertaining to others using the Services. You may not disclose personally identifiable information of another Member you acquire using the Services to any third party without the consent of such other Member after adequate disclosure with the exception of reporting unlawful activity to authorized law enforcement personnel.</p>

<h2>Site Content; Third Party Sites</h2>
<p>There may be Content on the Sites that describes generally how the Services operate. The Terms of Service, and additional terms, if any, prevail if there is any conflict between any Content on the Sites and these Terms of Service.&nbsp;</p>
<p>You may be able to access third-party websites or services via the Sites or the Services; you acknowledge that we are not responsible for such websites or services or content that may be available there. When you access third party resources on the Internet, you do so at your own risk. The inclusion of any link from the Services does not imply our endorsement or any association between us and their operators. You further acknowledge and agree that we shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any such website or resource.</p>

<h2>Payment</h2>
<p>Certain of our Services may be subject to payments now or in the future. Please see the &ldquo;Payment Terms&rdquo; page for the terms governing your use of any paid services. </p>

<h2>Intellectual Property</h2>
<p>For purposes of these Terms of Service, the term &ldquo;Content&rdquo; includes, without limitation, information, data, text, photographs, written posts and comments, software, scripts, graphics, and interactive features generated, provided, or otherwise made accessible on or through the Services. For the purposes of this Agreement, &ldquo;Content&rdquo; also includes all Member Content (as defined below).</p>

<p>All Content submitted or posted to the Services by Members (collectively &ldquo;Member Content&rdquo;), whether publicly posted or privately transmitted, is the sole responsibility of the person who originated such Member Content. You represent that all Member Content provided by you is accurate, complete, up-to-date, and in compliance with all applicable laws, rules and regulations. You acknowledge that all Content, including Member Content, accessed by you using the Services is at your own risk and you will be solely responsible for any damage or loss to you or any other party resulting therefrom. We do not guarantee that any Content you access on or through the Services is or will continue to be accurate.</p>

<p>Subject to these Terms of Service, we grant each Member of the Services a worldwide, non-exclusive, non-sublicensable and non-transferable license to use (i.e., to download and display locally) Content solely for purposes of using the Services. Use, reproduction, modification, distribution or storage of any Content for other than purposes of using the Services is expressly prohibited without prior written permission from us. You shall not sell, license, rent, or otherwise use or exploit any Content for commercial use or in any way that violates any third party right.</p>

<p>By submitting Member Content through the Services, you hereby do and shall grant us a worldwide, non-exclusive, perpetual, royalty-free, fully paid, sublicensable and transferable license to use, edit, modify, truncate, aggregate, reproduce, distribute, prepare derivative works of, display, perform, and otherwise fully exploit the Member Content in connection with the Site, the Services and our (and our successors&rsquo; and assigns&rsquo;) businesses, including without limitation for promoting and redistributing part or all of the Site or the Services (and derivative works thereof) in any media formats and through any media channels (including, without limitation, third party websites and feeds), and including after your termination of your Hovee Account or the Services. You also hereby do and shall grant each Member of the Site and/or the Services a non-exclusive, perpetual license to use, edit, modify, reproduce, distribute, prepare derivative works of, display and perform any of your Member Content that is accessible to such Member through the Services, including after your termination of your Hovee Account or the Services.  For clarity, the foregoing license grants to us and our Members does not affect your other ownership or license rights in your Member Content, including the right to grant additional licenses to your Member Content, unless otherwise agreed in writing. You represent and warrant that you have all rights to grant such licenses to us without infringement or violation of any third party rights, including without limitation, any privacy rights, publicity rights, copyrights, trademarks, contract rights, or any other intellectual property or proprietary rights.  For clarity, our use of Member Content is at all times subject to the terms of our Privacy Policy:  https://pilot.hovee.com/#/privacy-policy</p>

<p>We do not guarantee that any Content will be made available on the Site or through the Services. We reserve the right to, but do not have any obligation to,</p> 
<ol type="i">
<li>remove, edit or modify any Content in our sole discretion at any time, without notice to you  and for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if we are concerned that you may have violated these Terms of Service), or for no reason at all and </li>
<li>to remove or block any Content from the Services.</li></ol>

<p>The Services are the property of Hovee, and are protected by copyright law and other intellectual property rights. The structure, organization and code of the Services are proprietary to Hovee. You shall abide by and maintain all copyright notices, information, and restrictions contained in any Content accessed through the Services. Except as expressly stated herein, this Agreement does not grant you any intellectual property rights or licenses to any part of the Services; all rights not expressly granted herein are reserved by Hovee. You may not reverse engineer, decompile, disassemble or otherwise attempt to discover the source code, underlying ideas, underlying Member interface techniques or algorithms of the Services by any means whatsoever, directly or indirectly, and you may not disclose any of these either publicly or to a third party.&nbsp;</p>

<p>If you provide or communicate any suggestions for improvements to the Services (collectively, &ldquo;Feedback&rdquo;), you hereby irrevocably assign to us all right, title and interest in and to the Feedback, without restriction or any obligation of compensation.</p>

<h2>Service Availability; Exclusion of Warranties</h2>
<p>We will use all reasonable efforts to provide the Services in a reliable and secure way &ndash; however, as with any other services including software applications, events which may cause disruption to our Services are always possible due to issues with our software, unforeseen events such as accidents or intentional interference. In no event will Hovee Entities or Hovee Partners be liable for any claims or damages, consequential loss, lost profits, special, indirect, incidental, or punitive damages arising out of such disruptions. </p>

<p>We have no special relationship with or fiduciary duty to you. You acknowledge that we have no duty to take any action regarding</p> 
<ol><li>which Members gain access to the Services, </li>
<li>what Content you access via the Services, </li>
<li>how you may interpret or use the Content, or </li>
<li>any injury that may result from your use of the Services.</li></ol> 

<p>You release the Hovee Entities and Hovee Partners from all liability arising from or related to your use of the Services. </p>

<p>THE SERVICES ARE PROVIDED ON AN &ldquo;AS IS&rdquo; BASIS &ldquo;WITH ALL FAULTS&rdquo; AND WITHOUT WARRANTY OF ANY KIND, EXPRESS, IMPLIED OR STATUTORY. TO THE FULL EXTENT PERMITTED BY LAW,  HOVEE  ENTITIES,  HOVEE  PARTNERS AND ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING OR DELIVERING THE  SERVICES EXPRESSLY DISCLAIM ALL WARRANTIES AND REPRESENTATIONS OF ANY KIND, EXPRESS, IMPLIED OR STATUTORY, INCLUDING WITHOUT LIMITATION ALL WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, WORKMANLIKE EFFORT, LACK OF NEGLIGENCE, QUIET ENJOYMENT, AND NON-INFRINGEMENT, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF PERFORMANCE OR USAGE OR TRADE. HOVEE ENTITIES AND HOVEE PARTNERS DO NOT WARRANT THAT:</p>

<ol type="I">
<li>THE OPERATION OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR FREE;</li>
<li>THE SERVICES WILL BE SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION;</li>
<li>ANY DEFECTS OR ERRORS WILL BE CORRECTED;</li>
<li>ANY CONTENT OR SOFTWARE AVAILABLE AT OR THROUGH THE SERVICES IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR</li>
<li>THE RESULTS OF USING THE SERVICES WILL MEET YOUR REQUIREMENTS. YOUR USE OF THE SERVICES IS SOLELY AT YOUR OWN RISK.</li></ol>

<h2>Modifications To Services</h2>
<p>Hovee reserves the right at any time and from time to time to modify, suspend or discontinue, temporarily or permanently, all or any part of the Services, in its sole discretion. You agree that Hovee Entities or Hovee Partners will not be liable to you for any modification, suspension or discontinuance of the Services.</p>

<h2>Term and Termination</h2>
<p>This Agreement begins on the date you complete your registration for the Services and accept this Agreement, and continues in effect indefinitely until terminated by either party. You may terminate this Agreement at any time, for any reason, by notifying us at support@hovee.com. We may terminate this Agreement or suspend your Hovee Account and/or access to the Services at any time, for any reason, without notice. Upon termination of this Agreement for any reason, all of your rights to access the Services and your Hovee Account will terminate. All provisions of this Agreement that should naturally be interpreted to survive termination will survive, including, without limitation, licenses of Member Content, ownership provisions, warranty disclaimers, indemnity and limitations of liability. Any promotional credits or coupons we may have made available to you will be forfeited upon termination, regardless of the reason. Any fees paid hereunder are non-refundable. </p>

<h2>Liability Limit</h2>
<p>You agree to release the Hovee Entities and Hovee Partners from all claims, demands and damages (actual, threatened, consequential, direct and indirect) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with the Services.&nbsp;</p>

<p>If you are a California resident, you waive California Civil Code 1542, which says: &ldquo;A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.</p>

<p>IN NO EVENT SHALL HOVEE ENTITIES OR HOVEE PARTNERS BE LIABLE UNDER CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR ANY OTHER LEGAL OR EQUITABLE THEORY WITH RESPECT TO THE SERVICES </p>

<ol type="I">
  <li>FOR ANY LOST PROFITS, DATA LOSS, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR SPECIAL, INDIRECT, INCIDENTAL, PUNITIVE, COMPENSATORY OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), OR</li>
  <li>FOR ANY DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) OF THE GREATER OF (A) FEES PAID TO US FOR THE PARTICULAR SERVICES DURING THE IMMEDIATELY PREVIOUS THREE (3) MONTH PERIOD OR (B) $100.00.</li>
</ol>



<h2>Indemnification</h2>
<p>You agree to defend, indemnify and hold Hovee Entities and Hovee Partners harmless from any loss, liability, claim or demand, including reasonable attorneys&rsquo; fees and expenses, made by any third party due to or arising out of or relating to your use or misuse of, or access to, the Services, Content, or otherwise from your Member Content, or violation of these Terms of Service, or infringement by you, or any third party using your Hovee Account or identity in the Services, of any intellectual property or other right of any person or entity. If you fail to take on the indemnification specified above, we reserve the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with us in asserting any available defenses. </p>

<p>Hovee will defend you against any third party claim that the Services infringe a registered patent, registered trademark, or copyright of a third party, or misappropriates a trade secret (to the extent that such misappropriation is not the result of your actions).</p>

<p>As a condition of receiving an indemnification under this Agreement, the party seeking indemnification hereunder (the &ldquo;Indemnified Party&rdquo;) will provide the other party (the &ldquo;Indemnifying Party&rdquo;) with</p>

<ol type="i"><li>prompt written notice of the claim; </li>
<li>complete control over the defense and settlement of the claim (provided, that the Indemnifying Party will not settle any claim without the Indemnified Party&rsquo;s prior written permission, which will not be unreasonably withheld, delayed or conditioned, in the event the settlement fails to unconditionally release the Indemnified Party from all liability pertaining to such claim); and </li>
<li>such assistance in connection with the defense and settlement of the claim, at the Indemnifying Party&rsquo;s expense, as the Indemnifying Party may reasonably request.</li></ol>

<h2>Choice of Law; Arbitration <small>[PLEASE READ AS THIS AFFECTS YOUR LEGAL RIGHTS]</small></h2>  
<p>These Terms of Service are governed by and will be construed under the laws of the State of California, without regard to the conflicts of laws provisions thereof.  Any dispute arising from or relating to the subject matter of these Terms shall be finally settled in San Francisco County, California, in English, in accordance with the Streamlined Arbitration Rules and Procedures of Judicial Arbitration and Mediation Services, Inc. ("JAMS") then in effect, by one commercial arbitrator with substantial experience in resolving intellectual property and commercial contract disputes, who shall be selected from the appropriate list of JAMS arbitrators in accordance with such Rules. Judgment upon the award rendered by such arbitrator may be entered in any court of competent jurisdiction. Notwithstanding the foregoing obligation to arbitrate disputes, each party shall have the right to pursue injunctive or other equitable relief at any time, from any court of competent jurisdiction. For all purposes of this Agreement, the parties consent to exclusive jurisdiction and venue in the state or federal courts located in, respectively, San Francisco County, California, or the Northern District of California. Any arbitration under this Agreement will take place on an individual basis: class arbitrations and class actions are not permitted.  YOU UNDERSTAND AND AGREE THAT BY ENTERING INTO THIS AGREEMENT, YOU ARE WAIVING THE RIGHT TO TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.</p>

<h2>Miscellaneous</h2>
<p>These Terms of Service are the entire agreement between you and us with respect to the Services, including use of the Sites, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and us with respect to the Services. If any provision of these Terms of Service is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that these Terms of Service will otherwise remain in full force and effect and enforceable. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. We shall not be liable for any failure to perform our obligations hereunder where such failure results from any cause beyond our reasonable control, including, without limitation, mechanical, electronic or communications failure or degradation. These Terms of Service are personal to you, and are not assignable, transferable or sublicensable by you except with our prior written consent. We may assign, transfer or delegate any of our rights and obligations hereunder without consent or notification. No agency, partnership, joint venture, or employment relationship is created as a result of these Terms of Service and neither party has any authority of any kind to bind the other in any respect. Our failure to enforce any part of these Terms of Service shall not constitute a waiver of our right to later enforce that or any other part of these Terms of Service. Waiver of compliance in any particular instance does not mean that we will waive compliance in the future. In order for any waiver of compliance with these Terms of Service to be binding, we must provide you with written notice of such waiver through one of our authorized representatives. The section and paragraph headings in these Terms of Service are for convenience only and shall not affect their interpretation.</p>

<p>You may contact us here: <a href="mailto:support@hovee.com">support@hovee.com</a></p>

<p>Effective Date of Terms of Service: May 11, 2014</p>