<div class="upperArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Frequently Asked Questions (FAQ)</h1>
      </div>
    </div>
  </div>
</div>
<div class="lowerArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="padding-top:16px;">
{{partial 'partials/faq'}}
      </div>
    </div>
  </div>
</div>
