<div class="mobile-splash"><img src="/assets/img/mobile-splash.png" alt="Hovee: Love Your Commute" width="240" height="82"></div>

<div class="upperArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Profile</h1>
      </div>
    </div>
  </div>
</div>
<div class="lowerArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="padding-top: 10px; padding-bottom: 100%">
        You must complete you profile on a desktop browser before you can run this on a mobile browser. Sorry for the inconvenience.
      </div>
    </div>
  </div>
</div>