{{#unless controllers.application.onDesktop}}
  <div class="mobile-splash"><img src="/assets/img/mobile-splash.png" alt="Hovee: Love Your Commute" width="216"></div>
{{/unless}}
<div class="upperArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Maintenance</h1>
      </div>
    </div>
  </div>
</div>
<div class="lowerArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="padding-top: 10px; padding-bottom: 100%">
        Sorry but Hovee is currently in maintenance. Please try again later.
      </div>
    </div>
  </div>
</div>