<div class="upperArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Member Support</h1>
      </div>
    </div>
  </div>
</div>
<div class="lowerArea">
  <div class="container">
    <div class="row">
    <div class="col-sm-12">
      TBD
    </div>
    </div>
  </div>
</div>