<div class="upperArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Terms of Service</h1>
      </div>
    </div>
  </div>
</div>
<div class="lowerArea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" style="padding-top:16px;">
        {{partial 'partials/terms_and_conditions'}}
      </div>
    </div>
  </div>
</div>
